<div class="flex flex-col space-y-2 p-2  h-full">
  <div
    [ngClass]="currentTheme == 'dark'?'bg-[#18181b] border-white/10 text-dark-secondary':'bg-white border-gray-200 text-zinc-900'"
    class="border rounded-md h-32 p-2 space-y-2">
    <h3 class="text-3xl font-extrabold" [ngClass]="currentTheme=='dark'?'text-dark-secondary':''">{{data.job.jobTitle}}
    </h3>
    <div class="flex items-center space-x-2">
      <span class="border bg-white/5 px-2 py-1 rounded-md"
        [ngClass]="currentTheme == 'dark'? 'border-white/10':'border-gray-200'">{{data.job.type}}</span>
      <span class="border bg-white/5 px-2 py-1 rounded-md"
        [ngClass]="currentTheme == 'dark'? 'border-white/10':'border-gray-200'">{{data.job.workplace}}</span>
    </div>
    <div>
      <span class="font-semibold text-blue-400 inline-flex items-center">{{data.job.company}}
        <svg class="w-5 h-5 text-blue-500" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z">
          </path>
        </svg> </span>
      -
      <span class="font-semibold">({{data.job.location}})</span>
    </div>
    <!-- Job header (title, company, location, createdAt, Apply) and share -->
  </div>
  <div class="bg-green-300">
    job details (description, type, workplace)
  </div>
</div>